<section>
 	<form class="col-6 text-center" method="post" action="https://test.authorize.net/payment/payment" id="formAuthorizeNetTestPage" name="formAuthorizeNetTestPage">
		<input type="hidden" name="token" value="{{{myVar}}}" />
        <div class="card">
             <img src="bookPassion.jpg" class="img-fluid" alt="">
             <div class="card-body">
                 <h6 class="lead">Book of Passion <span class="text-info">£ 20.99</span></h6>
             </div>
        </div>
       

		<a href="/pay"><button  id="btnContinue">Buy book </button></a>
	</form>  
</section>